data/mimic-cxr-jpg/2.0.0/master.csv filter=lfs diff=lfs merge=lfs -text
data/padchest/PADCHEST_chest_x_ray_images_labels_160K_01.02.19.csv filter=lfs diff=lfs merge=lfs -text
data/CheXpert-v1.0/df_chexpert_plus_240401.csv filter=lfs diff=lfs merge=lfs -text
data/ReXGradient-160K/train_metadata.csv filter=lfs diff=lfs merge=lfs -text
